
.container {
    display: flex;
}

.card {
    display: inline-block;
    margin: 40px;
    width: 200px;
}

.image {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}

.addtocart {
    width: 30px;
    height: 30px;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0px;
    background: none;
    border: none;
    padding: 5px;
    background-color: #d3d3d3;
    border-radius: 5px;
    transition: all .12s;
}

.addtocart:hover {
    background-color: #bfbfbf;
}

.addtocart:active {
    background-color: #808080;
}

.addtocart-icon {
    background-image: url("./AddToCart.png");
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;
    background-size: contain;
}

.title {
    margin-top: 10px;
    font: small-caps 18px/16px Arial;
    display: inline-block;
}

.pricetag {
    font: bold small-caps 16px/0 Arial;
}
